<div id="dtis">
   <% 
    #TODO add mouseover mouseout action
   %>
<% if @supported_browser %>
  <div class="dti">
    <a href="<%=url_for(:controller => 'terminal', :action => 'create')%>" data-remote="true">
      <p><%= image_tag('wrb64.png', :alt => 'terminal', :title => 'terminal') %></p>
      <p>wrb</p>
    </a>
  </div>
  <div class="dti">
    <a href="<%=url_for(:controller => 'welcome', :action => 'wri')%>" data-remote="true">
      <p><%= image_tag('samples64.png', :alt => 'wri', :title => 'wri') %></p>
      <p>wri</p>
    </a>
  </div>
<% else %>
  <h2>Sorry your browser is not supported now, please see help for more information.</h2>
  <h2>Firefox,Safari,Chrome,Maxthon are supported.</h2>
<% end %>
  <div class="dti">
    <a href="<%=url_for(:controller => 'welcome', :action => 'help')%>" data-remote="true">
      <p><%= image_tag('help64.png', :alt => 'help', :title => 'help of wrb') %></p>
      <p>help</p>
    </a>
  </div>
</div>

<div id="terminals"> </div>
